a {
  color: #E618A4;
  font-family: fantasy;
}


h1  {
font-family: fantasy;
font-weight: bold;
font-size: 40px;
color: #1EC013;
text-align: center;
text-decoration: underline;
}

 h3  {

color: black;
font-family: cursive;

}

li {

 font-style: italic;
 word-spacing: 2px;
}

